<!DOCTYPE html>
<html style="height: 100vh;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Generar video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
</head>

<body style="min-height: 100%;">
    <div class="container d-flex justify-content-between" style="min-height: 100vh;">
        <form class="d-flex flex-column" style="width: 40%;padding-top: 5vh;padding-right: 2vw;" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="form-group">
                <label>Ingrese los json:</label>
                {% with messages = get_flashed_messages(category_filter=["enable-down"])  %}
                    {% if messages %}
                        {{ form.jsons(multiple="", accept=".json*") }}
                    {% else %}
                        {{ form.jsons(multiple="", accept=".json*", required="") }}
                    {% endif %}
                {% endwith %}
            </div>

            <div class="form-group">
                {{ form.almacen.label() }}
                {% with messages = get_flashed_messages(category_filter=["enable-down"])  %}
                    {% if messages %}
                        {{ form.almacen(class="form-control", type="text") }}
                    {% else %}
                        {{ form.almacen(class="form-control", type="text", required="") }}
                    {% endif %}
                {% endwith %}
            </div>

            {% with messages = get_flashed_messages(category_filter=["enable-down"])  %}
                {% if messages %}
                    {{ form.generate(class="btn btn-primary m-auto .disabled", style="width: 80%;height: 45px; pointer-events: none", disabled="disabled") }}
                {% else %}
                    {{ form.generate(class="btn btn-primary m-auto", style="width: 80%;height: 45px;") }}
                {% endif %}
            {% endwith %}


            {% with messages = get_flashed_messages(category_filter=["enable-down"])  %}
                {% if messages %}
                    {% for message in messages %}
                        {{ form.download(class="btn btn-primary m-auto", style="width: 80%;height: 45px;") }}
                    {% endfor %}
                {% else %}
                    {{ form.download(class="btn btn-primary m-auto .disabled", style="width: 80%;height: 45px; pointer-events: none", disabled="disabled") }}
                {% endif %}
            {% endwith %}
        </form>

    </div>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>