<!DOCTYPE html>
<html style="height: 100vh;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Procesar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
</head>

<body style="min-height: 100%;">
    <div class="container d-flex justify-content-between justify-content-lg-center" style="min-height: 100vh;padding-top: 13vh;padding-bottom: 15vh;">
        <form class="d-flex flex-column" style="width: 40%;background-color: #a4d9e4;padding: 3vh 2vw; border-radius: 12px" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="d-lg-flex align-items-lg-end" style="margin-bottom: 3vh;">
                <img src="{{ url_for('static', filename='assets/img/innovate.png') }}" width="110" style="margin-bottom: 8px;">
                <img class="mx-auto" src="{{ url_for('static', filename='assets/img/logo_cropped.png') }}" width="100" height="120">
                <img src="{{ url_for('static', filename='assets/img/pucp.png') }}" width="120">
            </div>

            <div class="form-group">
                <label>Ingrese los json:</label>
                {% with messages = get_flashed_messages(category_filter=["enable-down"])  %}
                    {% if messages %}
                        {{ form.jsons(multiple="", accept=".json*") }}
                    {% else %}
                        {{ form.jsons(multiple="", accept=".json*", required="") }}
                    {% endif %}
                {% endwith %}
            </div>

            <div class="form-group">
                {{ form.almacen.label() }}
                {% with messages = get_flashed_messages(category_filter=["enable-down"])  %}
                    {% if messages %}
                        {{ form.almacen(class="form-control", type="text") }}
                    {% else %}
                        {{ form.almacen(class="form-control", type="text", required="") }}
                    {% endif %}
                {% endwith %}
            </div>

            {% with messages = get_flashed_messages(category_filter=["enable-down"])  %}
                {% if messages %}
                    {{ form.generate(class="btn btn-primary mx-auto .disabled", style="width: 80%;height: 45px;margin-top: 5vh;", disabled="disabled") }}
                {% else %}
                    {{ form.generate(class="btn btn-primary mx-auto", style="width: 80%;height: 45px;margin-top: 5vh;") }}
                {% endif %}
            {% endwith %}

            {% with messages = get_flashed_messages(category_filter=["enable-down"])  %}
                {% if messages %}
                    {% for message in messages %}
                        {{ form.download(class="btn btn-primary mx-auto", style="width: 80%;height: 45px;margin-top: 8vh;") }}
                    {% endfor %}
                {% else %}
                    {{ form.download(class="btn btn-primary mx-auto .disabled", style="width: 80%;height: 45px;margin-top: 8vh;", disabled="disabled") }}
                {% endif %}
            {% endwith %}
        </form>
    </div>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>